################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/G-Effects/.vs/G-Effects/FileContentIndex/09be0f8c-6c8a-4496-bb56-02224d4bba8c.vsidx
/G-Effects/.vs/G-Effects/FileContentIndex
/G-Effects/.vs/G-Effects/v16/.suo
/G-Effects/.vs/G-Effects/v17
*.cs
*.cache
