################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/G-Effects/.vs/G-Effects/FileContentIndex/09be0f8c-6c8a-4496-bb56-02224d4bba8c.vsidx
/G-Effects/.vs/G-Effects/FileContentIndex
/G-Effects/bin/Release/Assembly-CSharp-firstpass.dll
/G-Effects/bin/Release/Assembly-CSharp.dll
/G-Effects/bin/Release/Ionic.Zip.dll
/G-Effects/bin/Release/KSPAssets.dll
/G-Effects/bin/Release/KSPAssets.XmlSerializers.dll
/G-Effects/bin/Release/KSPTrackIR.dll
/G-Effects/bin/Release/Mono.Cecil.dll
/G-Effects/bin/Release/TDx.TDxInput.dll
/G-Effects/bin/Release/Unity.Analytics.DataPrivacy.dll
/G-Effects/bin/Release/Unity.Analytics.StandardEvents.dll
/G-Effects/bin/Release/UnityEngine.AccessibilityModule.dll
/G-Effects/bin/Release/UnityEngine.AIModule.dll
/G-Effects/bin/Release/UnityEngine.AndroidJNIModule.dll
/G-Effects/bin/Release/UnityEngine.AnimationModule.dll
/G-Effects/bin/Release/UnityEngine.ARModule.dll
/G-Effects/bin/Release/UnityEngine.AssetBundleModule.dll
/G-Effects/bin/Release/UnityEngine.AudioModule.dll
/G-Effects/bin/Release/UnityEngine.ClothModule.dll
/G-Effects/bin/Release/UnityEngine.ClusterInputModule.dll
/G-Effects/bin/Release/UnityEngine.ClusterRendererModule.dll
/G-Effects/bin/Release/UnityEngine.CoreModule.dll
/G-Effects/bin/Release/UnityEngine.CrashReportingModule.dll
/G-Effects/bin/Release/UnityEngine.DirectorModule.dll
/G-Effects/bin/Release/UnityEngine.dll
/G-Effects/bin/Release/UnityEngine.DSPGraphModule.dll
/G-Effects/bin/Release/UnityEngine.GameCenterModule.dll
/G-Effects/bin/Release/UnityEngine.GridModule.dll
/G-Effects/bin/Release/UnityEngine.ImageConversionModule.dll
/G-Effects/bin/Release/UnityEngine.IMGUIModule.dll
/G-Effects/bin/Release/UnityEngine.InputLegacyModule.dll
/G-Effects/bin/Release/UnityEngine.InputModule.dll
/G-Effects/bin/Release/UnityEngine.JSONSerializeModule.dll
/G-Effects/bin/Release/UnityEngine.LocalizationModule.dll
/G-Effects/bin/Release/UnityEngine.ParticleSystemModule.dll
/G-Effects/bin/Release/UnityEngine.PerformanceReportingModule.dll
/G-Effects/bin/Release/UnityEngine.Physics2DModule.dll
/G-Effects/bin/Release/UnityEngine.PhysicsModule.dll
/G-Effects/bin/Release/UnityEngine.ScreenCaptureModule.dll
/G-Effects/bin/Release/UnityEngine.SharedInternalsModule.dll
/G-Effects/bin/Release/UnityEngine.SpriteMaskModule.dll
/G-Effects/bin/Release/UnityEngine.SpriteShapeModule.dll
/G-Effects/bin/Release/UnityEngine.StreamingModule.dll
/G-Effects/bin/Release/UnityEngine.SubsystemsModule.dll
/G-Effects/bin/Release/UnityEngine.TerrainModule.dll
/G-Effects/bin/Release/UnityEngine.TerrainPhysicsModule.dll
/G-Effects/bin/Release/UnityEngine.TextCoreModule.dll
/G-Effects/bin/Release/UnityEngine.TextRenderingModule.dll
/G-Effects/bin/Release/UnityEngine.TilemapModule.dll
/G-Effects/bin/Release/UnityEngine.UI.dll
/G-Effects/bin/Release/UnityEngine.UIElementsModule.dll
/G-Effects/bin/Release/UnityEngine.UIModule.dll
/G-Effects/bin/Release/UnityEngine.UNETModule.dll
/G-Effects/bin/Release/UnityEngine.UnityAnalyticsModule.dll
/G-Effects/bin/Release/UnityEngine.UnityConnectModule.dll
/G-Effects/bin/Release/UnityEngine.UnityWebRequestAssetBundleModule.dll
/G-Effects/bin/Release/UnityEngine.UnityWebRequestAudioModule.dll
/G-Effects/bin/Release/UnityEngine.UnityWebRequestModule.dll
/G-Effects/bin/Release/UnityEngine.UnityWebRequestTextureModule.dll
/G-Effects/bin/Release/UnityEngine.UnityWebRequestWWWModule.dll
/G-Effects/bin/Release/UnityEngine.VehiclesModule.dll
/G-Effects/bin/Release/UnityEngine.VFXModule.dll
/G-Effects/bin/Release/UnityEngine.VideoModule.dll
/G-Effects/bin/Release/UnityEngine.VRModule.dll
/G-Effects/bin/Release/UnityEngine.WindModule.dll
/G-Effects/bin/Release/UnityEngine.XRModule.dll
/G-Effects/bin/Debug/G-Effects.pdb
/G-Effects/Configuration.txt
/G-Effects/G-Effects.cs.txt
/G-Effects/SettingsGUI.txt
