################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/G-Effects/.vs
/G-Effects/bin
/G-Effects/obj
/G-Effects/Configuration.txt
/G-Effects/G-Effects.cs.txt
/G-Effects/SettingsGUI.txt
